In [1]:
import pandas as pd
import requests
import os
from bs4 import BeautifulSoup
from time import sleep
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import warnings
import folium

# 경고 메시지 생략(무시)
warnings.filterwarnings('ignore')

# 그래프에서 한글처리 문제 해결
font_path = 'malgun.ttf'
font_name = font_manager.FontProperties(fname = font_path).get_name()
rc('font', family = font_name)

# 그래프에서 음수(minus) 기호 문제 해결
plt.rcParams['axes.unicode_minus'] = False

In [34]:
def extract_1day(tr):
    td_list = tr.find_all('td')
    del td_list[2]
    date = td_list[0].text.replace('.', '-')
    row = [date]
    for td in td_list[1:]:
        value = td.find('span').text.replace(',', '')
        row.append( int(value) )
    return row

In [10]:
code = '005930'
page = 1
url = f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}'

response = requests.get(url, headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0 x64)'})
print('상태코드:', response.status_code)
print('컨텐츠-타입:', response.headers['content-type'])

상태코드: 200
컨텐츠-타입: text/html;charset=EUC-KR

In [48]:
text = response.text

html = BeautifulSoup(text, 'html.parser')
tr_list = html.find_all('tr', {'onmouseover':'mouseOver(this)'})

rows = []
for tr in tr_list:
    row = extract_1day(tr)
    rows.append(row)

stock = pd.DataFrame(rows, columns = ['date', 'close', 'open', 'max', 'min', 'volume'])
stock = stock.set_index('date')
stock = stock.sort_index(ascending = True)
stock.to_csv('csv/삼성전자_주식.csv', encoding = 'utf-8')
stock

            close   open    max    min    volume
date
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741

In [50]:
code = '005930'

rows = []
for page in range(1, 6):
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}'
    response = requests.get(url, headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0 x64)'})
    text = response.text
    html = BeautifulSoup(text, 'html.parser')
    tr_list = html.find_all('tr', {'onmouseover':'mouseOver(this)'})

    for tr in tr_list:
        row = extract_1day(tr)
        rows.append(row)
    sleep(2)
rows

[['2024-03-22', 78900, 79600, 79900, 77800, 26614741],
 ['2024-03-21', 79300, 79200, 79300, 77700, 44569799],
 ['2024-03-20', 76900, 73700, 77200, 73400, 50106297],
 ['2024-03-19', 72800, 72300, 73000, 71700, 15376066],
 ['2024-03-18', 72800, 72600, 73000, 72500, 11520348],
 ['2024-03-15', 72300, 73400, 73700, 72300, 22580555],
 ['2024-03-14', 74300, 74400, 74500, 73600, 22545539],
 ['2024-03-13', 74100, 73700, 74100, 73500, 15243134],
 ['2024-03-12', 73300, 72600, 73500, 72100, 13011654],
 ['2024-03-11', 72400, 72900, 73100, 72300, 9740504],
 ['2024-03-08', 73300, 72800, 73400, 72600, 19271349],
 ['2024-03-07', 72200, 73100, 73300, 72200, 14516963],
 ['2024-03-06', 72900, 73200, 73500, 72700, 21547905],
 ['2024-03-05', 73700, 74600, 74800, 73700, 19505125],
 ['2024-03-04', 74900, 74300, 75000, 74000, 23210474],
 ['2024-02-29', 73400, 72600, 73400, 72000, 21176403],
 ['2024-02-28', 73200, 72900, 73900, 72800, 11795859],
 ['2024-02-27', 72900, 73100, 73400, 72700, 13201981],
 ['2024-02-26', 72800, 72300, 73200, 72200, 14669352],
 ['2024-02-23', 72900, 73600, 74200, 72900, 16225166],
 ['2024-02-22', 73100, 73800, 73900, 72700, 15208934],
 ['2024-02-21', 73000, 73400, 73700, 72900, 11503495],
 ['2024-02-20', 73300, 73700, 73700, 72800, 14681477],
 ['2024-02-19', 73800, 72800, 73900, 72800, 12726404],
 ['2024-02-16', 72800, 73300, 73400, 72500, 13444781],
 ['2024-02-15', 73000, 74200, 74400, 73000, 14120600],
 ['2024-02-14', 74000, 73700, 74300, 73700, 12434945],
 ['2024-02-13', 75200, 74800, 75200, 74400, 21966745],
 ['2024-02-08', 74100, 75000, 75200, 73600, 20810708],
 ['2024-02-07', 75000, 74600, 75500, 74300, 16566445],
 ['2024-02-06', 74400, 74300, 74700, 73300, 14559254],
 ['2024-02-05', 74300, 74200, 74800, 73500, 19026021],
 ['2024-02-02', 75200, 74000, 75200, 73700, 14955881],
 ['2024-02-01', 73600, 73000, 74200, 72900, 19881033],
 ['2024-01-31', 72700, 73400, 74000, 72500, 15703560],
 ['2024-01-30', 74300, 75000, 75300, 73700, 12244418],
 ['2024-01-29', 74400, 73800, 75200, 73500, 13976521],
 ['2024-01-26', 73400, 73700, 74500, 73300, 11160062],
 ['2024-01-25', 74100, 74200, 74800, 73700, 11737747],
 ['2024-01-24', 74000, 75200, 75200, 73500, 12860661],
 ['2024-01-23', 75200, 75700, 75800, 74300, 14786224],
 ['2024-01-22', 75100, 75900, 76000, 75000, 19673375],
 ['2024-01-19', 74700, 73500, 74700, 73000, 23363427],
 ['2024-01-18', 71700, 71600, 72000, 70700, 17853397],
 ['2024-01-17', 71000, 73100, 73300, 71000, 22683660],
 ['2024-01-16', 72600, 73500, 73700, 72500, 14760415],
 ['2024-01-15', 73900, 73200, 74000, 73200, 13212339],
 ['2024-01-12', 73100, 73000, 74100, 72800, 13038939],
 ['2024-01-11', 73200, 72900, 73600, 72700, 57691266],
 ['2024-01-10', 73600, 75000, 75200, 73200, 20259529]]

In [53]:
stock = pd.DataFrame(rows, columns = ['date', 'close', 'open', 'max', 'min', 'volume'])
stock = stock.set_index('date')
stock = stock.sort_index(ascending = True)
stock.to_csv('csv/삼성전자_주식.csv', encoding = 'utf-8')
stock

            close   open    max    min    volume
date
2024-01-10  73600  75000  75200  73200  20259529
2024-01-11  73200  72900  73600  72700  57691266
2024-01-12  73100  73000  74100  72800  13038939
2024-01-15  73900  73200  74000  73200  13212339
2024-01-16  72600  73500  73700  72500  14760415
2024-01-17  71000  73100  73300  71000  22683660
2024-01-18  71700  71600  72000  70700  17853397
2024-01-19  74700  73500  74700  73000  23363427
2024-01-22  75100  75900  76000  75000  19673375
2024-01-23  75200  75700  75800  74300  14786224
2024-01-24  74000  75200  75200  73500  12860661
2024-01-25  74100  74200  74800  73700  11737747
2024-01-26  73400  73700  74500  73300  11160062
2024-01-29  74400  73800  75200  73500  13976521
2024-01-30  74300  75000  75300  73700  12244418
2024-01-31  72700  73400  74000  72500  15703560
2024-02-01  73600  73000  74200  72900  19881033
2024-02-02  75200  74000  75200  73700  14955881
2024-02-05  74300  74200  74800  73500  19026021
2024-02-06  74400  74300  74700  73300  14559254
2024-02-07  75000  74600  75500  74300  16566445
2024-02-08  74100  75000  75200  73600  20810708
2024-02-13  75200  74800  75200  74400  21966745
2024-02-14  74000  73700  74300  73700  12434945
2024-02-15  73000  74200  74400  73000  14120600
2024-02-16  72800  73300  73400  72500  13444781
2024-02-19  73800  72800  73900  72800  12726404
2024-02-20  73300  73700  73700  72800  14681477
2024-02-21  73000  73400  73700  72900  11503495
2024-02-22  73100  73800  73900  72700  15208934
2024-02-23  72900  73600  74200  72900  16225166
2024-02-26  72800  72300  73200  72200  14669352
2024-02-27  72900  73100  73400  72700  13201981
2024-02-28  73200  72900  73900  72800  11795859
2024-02-29  73400  72600  73400  72000  21176403
2024-03-04  74900  74300  75000  74000  23210474
2024-03-05  73700  74600  74800  73700  19505125
2024-03-06  72900  73200  73500  72700  21547905
2024-03-07  72200  73100  73300  72200  14516963
2024-03-08  73300  72800  73400  72600  19271349
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741

In [59]:
stock

            close   open    max    min    volume
date
2024-01-10  73600  75000  75200  73200  20259529
2024-01-11  73200  72900  73600  72700  57691266
2024-01-12  73100  73000  74100  72800  13038939
2024-01-15  73900  73200  74000  73200  13212339
2024-01-16  72600  73500  73700  72500  14760415
2024-01-17  71000  73100  73300  71000  22683660
2024-01-18  71700  71600  72000  70700  17853397
2024-01-19  74700  73500  74700  73000  23363427
2024-01-22  75100  75900  76000  75000  19673375
2024-01-23  75200  75700  75800  74300  14786224
2024-01-24  74000  75200  75200  73500  12860661
2024-01-25  74100  74200  74800  73700  11737747
2024-01-26  73400  73700  74500  73300  11160062
2024-01-29  74400  73800  75200  73500  13976521
2024-01-30  74300  75000  75300  73700  12244418
2024-01-31  72700  73400  74000  72500  15703560
2024-02-01  73600  73000  74200  72900  19881033
2024-02-02  75200  74000  75200  73700  14955881
2024-02-05  74300  74200  74800  73500  19026021
2024-02-06  74400  74300  74700  73300  14559254
2024-02-07  75000  74600  75500  74300  16566445
2024-02-08  74100  75000  75200  73600  20810708
2024-02-13  75200  74800  75200  74400  21966745
2024-02-14  74000  73700  74300  73700  12434945
2024-02-15  73000  74200  74400  73000  14120600
2024-02-16  72800  73300  73400  72500  13444781
2024-02-19  73800  72800  73900  72800  12726404
2024-02-20  73300  73700  73700  72800  14681477
2024-02-21  73000  73400  73700  72900  11503495
2024-02-22  73100  73800  73900  72700  15208934
2024-02-23  72900  73600  74200  72900  16225166
2024-02-26  72800  72300  73200  72200  14669352
2024-02-27  72900  73100  73400  72700  13201981
2024-02-28  73200  72900  73900  72800  11795859
2024-02-29  73400  72600  73400  72000  21176403
2024-03-04  74900  74300  75000  74000  23210474
2024-03-05  73700  74600  74800  73700  19505125
2024-03-06  72900  73200  73500  72700  21547905
2024-03-07  72200  73100  73300  72200  14516963
2024-03-08  73300  72800  73400  72600  19271349
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741